/*
*************
reset
*************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*************
typography
*************
*/

body {
  /* font-family: 'Fredoka', sans-serif; */

  text-align: center;
}

/*
*************
common
*************
*/

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

h1,
h2,
h3 {
  font-family: 'Fredoka', sans-serif;
}

/*
*************
header
*************
*/

.containertitolo {
  width: 1000px;
  height: 140px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: #e53170;
  text-align: center;
  margin-top: 20px;
}

.sottotitolo {
  padding-top: 30px;
}

.sottotitolo > p {
  font-family: 'Fredoka', sans-serif;
}

/*
*************
main
*************
*/

/* .box {
  height: 100px;
  width: 300px;
  background-color: black;
  display: inline-block;
  margin: 20px;
  float: left;
} */

.team > .box {
  /* height: 100px; */
  width: calc(100% / 3 - 50px);
  background-color: rgb(0, 0, 0);

  margin: 20px;
  float: left;
}

.team-person {
  float: left;
}

.team-face {
  float: left;
}

.team-info {
  float: right;
  text-align: center;
  width: calc(100% - 100px);
  padding: 10px;
}

img {
  width: 100px;
  float: left;
}

h3 {
  color: rgb(255, 255, 255);
}

h3 + p {
  color: rgb(255, 255, 255);
}

#email {
  color: rgb(89, 89, 255);
  font-size: 16px;
}

.team-person,
.team-info {
  line-height: 20px;
}

p + email {
  font-size: 13px;
}
