/*
*************
reset
*************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*************
typography
*************
*/

body {
  /* font-family: 'Fredoka', sans-serif; */

  text-align: center;
}

/*
*************
common
*************
*/

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/*
*************
header
*************
*/

.containertitolo {
  width: 1000px;
  height: 15 0px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 40px;
  color: #e53170;
  text-align: center;
  margin-top: 20px;
}

.sottotitolo {
  padding-top: 30px;
}

.sottotitolo > p {
  font-family: 'Fredoka', sans-serif;
}

/*
*************
main
*************
*/

/* .box {
  height: 100px;
  width: 300px;
  background-color: black;
  display: inline-block;
  margin: 20px;
  float: left;
} */

.team > .box {
  height: 100px;
  width: calc(100% / 3 - 50px);
  float: left;
  background-color: black;
  padding: 50px;
  margin: 20px;
}
